@{
    ViewData["Title"] = "Home Page";
}

<h3>Orders</h3>

<form>
    <label for="startDate"> Start Date: </label>
    <input type="date" name="startDate" value=@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd") />

    <label for="endDate"> End Date: </label>
    <input type="date" name="endDate" value=@DateTime.Now.ToString("yyyy-MM-dd") />

    <label for="number"> Number: </label>
    <input type="text" name="number" />

    <button type="submit">Search</button>
</form>

    @if (Model != null && Model.Count != 0)
    {
        <table class="table table-center">
            <thead class="thead-inverse">
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Date</th>
                    <th>ProviderId</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Number</td>
                        <td>@item.Date</td>
                        <td>@item.ProviderId</td>
                        <td><a href="~/OrderItems/Index/@item.Id">Details</a></td>
                        <td> <a asp-action="Edit" asp-route-id=@item.Id>Edit</a></td>
                        <td> <a asp-action="Delete" asp-route-id=@item.Id>Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center" style="margin-top: 100px;">
            <h4>Данные не найдены.</h4>
        </div>
    }

    <a asp-action="Add">Add</a>
